<section class="container-fluid c1">
    <h1>About Us</h1>
    <p class="lead">Established in 2022, 6Stone Designs is a home-based company specializing in the design, creation, and sales of handcrafted keychains, accessories, and other artistic products. With a strong focus on utilizing unique, upcycled, and sustainable materials, 6Stone Designs strives to provide its customers with distinctive and thoughtful gifts.</p>
    
 </section>
